<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>traduction</title>
    <link rel="stylesheet" href="bower_components/Materialize/dist/css/materialize.min.css"/>
    <link rel="stylesheet" href="styles/main.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="app" ng-controller="MainController as MCtrl">
<div ng-include="'views/header.html'"></div>
<main>
    <div class="row">
        <div class="col s6 m4">
                <textarea class="inputTextArea" ng-model="MCtrl.input" id="input">
                </textarea>
            <label for="input">Input</label>

        </div>
        <div class="col s6 m4">
            <textarea class="inputTextArea" ng-model="MCtrl.output" id="output"></textarea>
            <label for="output">Output</label>
        </div>
        <div class="col m4 s12">
            <button ng-click="MCtrl.parse()"
                    ng-disabled="!MCtrl.anyFiltersSelected()"
                    class="waves-effect waves-light btn">Run
            </button>

            <button ng-click="MCtrl.useOutput()"
                    ng-disabled="!MCtrl.output.length > 0"
                    class="waves-effect waves-light btn">Use Output
            </button>

            <div class="input-field">
                <input ng-model="filter" id="filter" type="text" class="validate">
                <label for="filter">Filter</label>
            </div>

            <div ng-repeat="filter in MCtrl.filters | filter:filter"
                 ng-include="'views/filterCard.html'">
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="history in MCtrl.history | orderBy: history.timeStamp"
             ng-include="'views/historyCard.html'"
             class="historyCard col s3">
        </div>
    </div>
</main>
<div ng-include="'views/footer.html'"></div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/Materialize/dist/js/materialize.min.js"></script>

<!--created from browserify-->
<script src="bundle.js"></script>

<script src="angular/angular_init.js"></script>
<script src="angular/MainController.js"></script>
<script src="angular/FiltersService.js"></script>
</body>
</html>