<div class="row bg">
    <div class="col s4">
        <h3>Read Previous Chapters</h3>
        <ul>
            <li><a href="">Ministry of Westeros I</a></li>
            <li><a href="">Ministry of Westeros II</a></li>
            <li><a href="">Ministry of Westeros III</a></li>
            <li><a href="">Ministry of Westeros IV</a></li>
            <li><a href="">Ministry of Westeros V</a></li>
            <li><a href="">Ministry of Westeros VI</a></li>
            <li><a href="">Ministry of Westeros VII</a></li>
            <li><a href="">Ministry of Westeros VIII</a></li>
            <li><a href="">Ministry of Westeros IX</a></li>
        </ul>

        <h3>About the author</h3>
        <p>1mike12 | USA</p>
    </div>
    <div class="col s8">
        <h1>The Ministry of Westeros Part IX</h1>
        <div id="storytext">
            <img style="float:left; margin:18px;" src="images/house_snape.jpg"/>
            <p>At the end it was not really a difficult decision.
                After little over a century of living, there was nothing much new to explore. Even though I came to accept
                the title of 'master of death' and everything else comes with it, it still is a curse. I saw most of my
                friends passing and I remained. I was never able to have a long term relationship because of my forever
                young image. Decades later I invented to mimic natural aging but then I had given up relationships.</p>
            <p>Magic was dying. There were few and fewer magical births every year. Many magical creatures became
                extinct. There are no unicorns now. No new house elf was born in the past 50 years. Magical levels of
                witches and wizards have become so low that no one can cast a patronas now. So when death offered me a
                new adventure in a new world, I didn't have any reason not to accept. Death told me that I cannot take
                anything with me except for the hallows, which is actually part of me now; literally. All three items
                were absorbed to my body. I can become invisible just by thinking of it and need no wand to cast spells.
                As for the resurrection stone, I never tried to use that again.</p>
            <p>With my permission and without any ceremony death took me from my old world and dropped me somewhere. It
                was much worse than a portkey. Once I got my senses back, I realized that I am middle of nowhere. I
                extended my senses outwards but found no human nearby. So I walked towards a hill hoping to get a better
                view of the lands.</p>
            <p>Couple of hours later I heard human voices. I had no idea what they were talking as I didn't know their
                language. There were a group of men with horses camping and sharing a meal. I activated my invisibility
                cloak and got closer to them. It was clear that one of these men was the leader regardless his young
                age. Well he is a child actually. From what I could see, I realized the culture is primitive compared to
                my old world especially if they use swords as a weapon.</p>
            <p>I got closer to the leader and used legilimency to get a better understanding of the language and the
                lands of this world. After a century I am a grand master of mind arts. I copied his memory to mine and
                absorbed the knowledge. That was a neat trick taught to me by a Tibetan monk as a thank you for saving
                his life.</p>
            <p>It proved my initial guess that the world is primitive. They are similar to middle age of my old world in
                many ways but in many ways it is more primitive than that. To my shock, they have been in this middle
                ages for thousands of years. I am in a continent called Westeros and a region called Vale, one of the
                seven regions. These were once separate kingdoms and now ruled under one king.</p>
            <p>The young man is the heir to the biggest region called North. His name is Brandon and he is travelling
                from Eirie where his brother is fostered to Winterfell, his castle. Young Brandon is 15 years old.</p>
            <p>A loud voice snapped me out of meditation. I saw a band of thieves attacking the Northerners. It was soon
                evident that these thieves outnumbered them and will be defeated regardless of their superior skills.
                Even after 100 years I still couldn't really get over my saving people thing. So I conjured a sword and
                ran to the battle. The thieves were startled with my sudden appearance which gave me and Northerners a
                brief advantage to push for attack. We fought for like an hour which was in reality about ten minutes.
                Everyone in the northern group fell protecting the young heir, but not without killing or disabling many
                of the thieves. At the end it was Brandon, I and three thieves left standing. I formed a temporary
                mental connection between Brandon and myself and fought them like a well-oiled machine. We managed to
                kill every thief but Brandon was injured seriously and soon lost consciousness.</p>
            <p>I couldn't heal the cuts as I will not be able to explain them. I however stopped the bleedings and wrap
                them with clothes torn from the fallen. Leaving the wounded there temporary I explored the surrounding
                area to find some herbs for medicine. Thankfully I could find some plants that could be used and made a
                simple salve for his wounds.</p>
            <p>More than half of Brandon's companions were dead. Remaining was injured. They will need medical treatment
                soon or they will die. They cannot travel anywhere in their condition n or wait till help arrive. I had
                no choice but to use magic. I carefully treated the most of dire injuries with magic and altered their
                memories carefully so that they will think they were not injured seriously.</p>
            <p>Thankfully Brandon woke up right after I've done healing the rest.</p>
            <p>"Easy there. You took a hit to head. Don't move." I told Brandon who tried to get up.</p>
            <p>"Who are you?" he asked.</p>
            <p>"My name is Harold. What's your name?" I pretended like I do not know him.</p>
            <p>"I am Brandon. What happened?" he asked.</p>
            <p>"Well I arrived to see your group being attacked by these thieves so I jumped in to help."</p>
            <p>"Why? Where did you come from ?"</p>
            <p>"Where I come from is a long story. As for why, how could I not help? What's important now is to get
                help. I am a good healer but I don't have any medicine with me. I treated you all as best as I can but
                we need proper care before long."</p>
            <p>"There should be a village about couple of hour's ride." One of the soldiers told me who was listening to
                me.</p>
            <p>"Well it will be difficult but I guess it is possible to reach it before the night fall."</p>
            <p>I gathered from their talks that we are in the foothill of the mountains of the moon and that the
                attackers were not thieves but mountain clans. The closest village is called Palisade and further south
                is the crossroad inn. They decided to travel to the village for now and send a messenger to the
                crossroad inn to get carriages. The plan is to rest at the inn and get treatments.</p>
            <p>Brandon questioned me about myself. Thankfully I had enough time to cook up a story.</p>
            <p>"My name is Harold Gryffindor lord Stark. My family is originally from North. Thousands years ago my
                ancestor left with his lord father's permission to explore the world. He travelled to Essos and never
                came back. My family has been explorers and merchants last thousands of years. The family stayed here in
                north perished long time back. My father's dream was to come back to our roots and settle there. But he
                passed away before he can. We grew in numbers over the last thousands of years but many perished because
                of the adventurous life we live. I am the head of the Gryffindor clan that includes many cadet branches.
                So I decided to come to our ancestral lands and test the waters. I was on my way to my family's castle.
                I wanted to see it even if it is in ruins."</p>
            <p>"What's your family castle?" Brandon asked.</p>
            <p>"Moat Cailin." I answered.</p>
            <p>That gave him a pause.</p>
            <p>"Your ancestors were the lords of Moat Cailin?" he asked once he got out of shock.</p>
            <p>"Yes my lord." I added a little compulsion for him to trust me.</p>
            <p>"My ancestors were marsh kings. My own ancestor left couple of years before it was conquered by your
                ancestor the laughing wolf."</p>
            <p>I was very thankful for the knowledge I gained from Brandon so that I could waive the story. I realized
                moat Cailin is the most strategically placed castle in the north. It guards the causeway to north. No
                army can march without conquering the castle. I pretended to be from the family held the castle
                thousands years ago. I hope I will be able to request the castle and the lands from Brandon's father. I
                was not delusional to think that just by requesting I am going to get it. But with my magic I will be
                able to get the warden of north pretty much anything he demands.</p>
            <p>We spent several days at the crossroad inn recovering. Brandon happily paid for my expenses. I told him
                that I was robbed of my money and horse before I met them. Once the healer gave the Ok to travel we
                departed to Winterfell, this time with a large force for protection that Brandon hired.</p>
            <p>We reached Winterfell with no more obstacles on our way. Lord Rickard, father of Brandon welcomed me
                warmly once Brandon explained that I saved his life.</p>
            <p>Winterfell is from a distance a beautiful and imposing castle. But once you see it closer, you can see it
                has passed its glory days. Some parts if the castle is in ruin. Court yards are not paves and muddy. The
                place need some serious renovations.</p>
            <p>"I was hoping to rebuild my family back in north where we originated my lord." I told lord Rickard.</p>
            <p>We were discussing my origins in north and he was curious to why I am here now. Lord Rickard invited me
                to sit with them at the dinner. As I understood it is a not something anyone will have the chance to. It
                is either family or nobles get to sit with the main table.</p>
            <p>"Moat Cailin is in ruins. I want to rebuild it with your permission my lord. I am aware that it is not
                mine and I lay no claim to it or the lands. But I was hoping that you will grant me the castle and lands
                belonged to it. In return I can give you almost anything you want. Over last thousand years we have
                collected treasures both monetary and otherwise."</p>
            <p>"That's is a very daring thing to say Harold; to offer to get me anything I want." Lord Rickard said
                after a moment's silence.</p>
            <p>"I said almost anything my lord. I can't bring the dead back to life or give you a dragon. But I might be
                able to bring back someone at the brink of death or get you dragon bones."</p>
            <p>I took the chance to peak into lord Rickard's head and see what he might wish. Like many men money is one
                of the things he desired. He is concerned about his two young sons. They will be left with almost
                nothing as the lordship will be given to his eldest son. North is vast but it seems to be the poorest of
                all kingdoms excluding iron islands.</p>
            <p>"May I offer something my lord ?" I asked as lord Rickard is still silent. He nodded.</p>
            <p>"You have two younger sons. Their future is not as clear as Lord Brandon. You can give them lands as it
                is not rare in the north. When the time comes for them to rule a keep of their own, I will give them
                million dragons each to build their own keep and to start their own town. In addition I will give one
                million dragons now to you."</p>
            <p>Now that shocked them. North is a harsh place. As honorable as they might be, the richest they are not.
                That much money is something they can't even dream.</p>
            <p>"Two million dragons now." Lord Rickard counter offered. "Even in ruins the castle you ask is very
                important to north and we have no proof of your ancestry."</p>
            <p>"Two million dragons now if you can give me lands east of the castle until it meet the sea as well
                permission to build a port at the tip of Fever River." I gave my offer.</p>
            <p>"If you are expecting that much of land it will have to be at least 5 million." Said lord Rickard. "No
                Lord in north own that much land."</p>
            <p>"Agreed if I can pay half of it upfront and the rest within next 10 years, 250,000 dragons each
                year."</p>
            <p>"Agreed." Lord Rickard agreed finally.</p>
            <p>
                sourced from https://www.fanfiction.net/s/11875060/1/Harrold-Gryffindor
            </p>
        </div>
    </div>
</div>