<header >
    <nav class="grey lighten-3">
        <div class="nav-wrapper">
            <form>
                <div class="row">
                    <div class="input-field col offset-s4 s2">
                        <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                        <label for="filled-in-box">Filled in</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="search" type="search" required>
                        <label for="search">Attributes</label>
                        <i class="material-icons">close</i>
                    </div>
                </div>
            </form>
        </div>
    </nav>
</header>