<div class="card-panel">

    <div class="row">
        <div class="col col-sm-6">
            <div id="player"></div>
        </div>
        <div class="col col-sm-6">
            <h2>Thank you everyone</h2>
            <h4>for an amazing 10 months. </h4>
            <h4>best, </h4>
            <h4>mike</h4>
        </div>
    </div>
</div>

<div class="card-panel">
    <h2>Muh digits</h2>
    <h4>774-287-2755</h4>

    <p><a class="btn" target="_blank" href="https://www.linkedin.com/in/mikeqin1">linkedin</a></p>

    <p><a class="btn" target="_blank" href="http://bit.ly/Ministry_Of_Westeros_partIX">My actual writing</a>
    </p>
</div>